*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    margin: 0 auto;
    width: 80%;
    text-align: center; 
    font-family:sans-serif;   
}
h1{
    color: palevioletred;
    margin-bottom: 30px;
    
}

img{
    float: left;
    height: 60px;
    width: 60px;
}

.clearfix{
    clear: both;
}
.section{
    float:left;
    width: calc(100%/3);
    
}
.cards{
    background-color: #fff;
	border-radius: 4px;
	max-width: 400px;
	margin: 10% auto;
	height: 100px;
	position: relative;
	padding: 34px;
	color: #444;
    size: 50px;
    
	
}