*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    font-family:sans-serif; 

}
header{
    margin: 0 auto;
    width: 80%;
    text-align: center;   
    padding: 15px; 0;
}
h1{
    font-size: 30px;
    color: #e53170;
    font-weight: 900;
}

h2{
    font-weight: 700;
}

img{
    float: left;
    height: 60px;
    width: 60px;
    height: 100px;
    width: 100px;
    float: left;
}

.clearfix::after{
    clear: both;
}
.box{
    margin: 20px 10px;
    height: 100px;
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    float: left;
    color: white;
    box-shadow:5px 5px 5px darkslategrey;

}

.info{
    height: 100%;
    width: calc(100% - 100px);
    padding: 10px;
    float: left;   
    
}
.container{
    width: 80%;
    margin: 0 auto;
}
span{
    color: deepskyblue;
}